/*‘тили подвала на страницах*/
/*подвал*/
footer{
  background-color: #293449;
  color: #ffffff;
}

.footer-top{
  height: 192px;
  
  font-size: 18px;
  line-height: 24px;
    
  background-color: #32425c;
}

/*-----------------------*/
.footer-top-one{
  /*display: inline-block;   */
  margin-bottom: 35px;
  text-align: right;    
}

.logo-footer {

  display: inline-block;
  height: 64px;
  
  
}
.logo-footer>a {
  padding: 17px 0;
   
  font-size: 30px;
  line-height: 30px;}  


.nav-footer-one-menu {
  /*position: relative;
  right: -65px;*/
  display: inline-block;
  /*width: 550px;  */
  margin: 0;
  padding: 0;
  margin-left: 110px;
  text-align: right;
  vertical-align: bottom;  
}

.nav-footer-one-menu>li{
  display: inline-block;
  margin: 0;
  margin-left: 55px;
  padding: 0;  
  vertical-align: top;  
  list-style: none;
}   
.nav-footer-one-menu>li>a {
  /*margin-left: 60px;*/
  /*text-align: justify;*/
  text-decoration: none;
  color: #ffffff;    
}
.nav-footer-one-menu>li>a:hover{
  text-decoration: underline;
}

.nav-footer-one-menu>li>a:active{
  opacity: 0.5;
}
/*------------------*/
.footer-top-two {
  text-align: right;  

}

.footer-top-two-address{
  display: inline-block;
 
  vertical-align: top
  
}
.nav-footer-two-menu {
  /*position: relative;
  right: -68px;*/
  
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  margin-left: 35px;
  
  text-align: right;
  vertical-align: top;

  
}
.nav-footer-two-menu>li{
  display: inline-block;
  margin-left: 55px;
  list-style: none;
  vertical-align: top
  
}   
.nav-footer-two-menu>li>a{
  /*text-align: justify;*/
  text-decoration: none;
  color: #f1c77e;
}
.nav-footer-two-menu>li>a:hover {
  text-decoration: underline;
}

.nav-footer-two-menu>li>a:active {
  opacity: 0.5;
}
/*----------------*/
.footer-bottom {
  height: 106px;  
  font-size: 16px;
  line-height: 18px;
}

.fb-copyright, .fb-social, .fb-feedback, .fb-design{
  display: inline-block;  
  vertical-align: middle;
}

.fb-copyright {
  width: 230px;
  margin: 35px 0;
  margin-right: 150px;

  
}
/*------------------*/
.fb-social {
  width: 160px;
  margin-right: 100px;
}

.fb-social>div {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  
 
  
  
}
.fb-social>div>a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  
  background-color: #212a3a;
  color: #ffffff;
    
  border: 1px solid transparent;
  border-radius: 50%;
}

.fb-social>div>a:hover {
  background-color: #ee3643;  
  
}

.fb-social>div>a>i{
  position: relative;
  top: 26%;
  left: 21%;
  
  opacity: 1;
}
/*-------------------*/
.fb-feedback {
  width: 140px; 
   
}

.fb-feedback>a {
  text-decoration: none;
  color: #c6a771;
   
}

.fb-feedback>a:hover {
  text-decoration: underline;  
   
}

.fb-feedback>a:active {
  color: #ee3643;    
   
}

.fb-design {
  width: 140px;
  text-align: right;
}

.fb-design>a {
  text-decoration: none;
  color: #c6a771;
   
}

.fb-design>a:hover {
  text-decoration: underline;  
   
}

.fb-design>a:active {
  color: #ee3643;    
   
}
