/*Основные стили и общие классы для всех страниц*/

/*Подключаем PT SANS*/ 
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), url(../fonts/ptsans.woff2), url(../fonts/ptsans.woff);
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans bold'), url(../fonts/ptsansbold.woff2), url(../fonts/ptsansbold.woff);
}
/*Подключаем CUPRUM*/ 
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  src: local('Cuprum'), url(../fonts/cuprum.woff2), url(../fonts/cuprum.woff);
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: bold;
  src: local('Cuprum Bold'), url(../fonts/cuprumbold.woff2), url(../fonts/cuprumbold.woff); 
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: bold;
  src: local('Cuprum Bold Italic'), url(../fonts/cuprumbolditalic.woff2), url(../fonts/cuprumbolditalic.woff);  
}
/*
@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: normal;
  src: local('Cuprum Italic'), url(../fonts/cuprumitalic.woff2), url(../fonts/cuprumitalic.woff);  

/*Иконочный шрифт*/
@font-face {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;  
  src: url("../fonts/symbols-technomart.woff2") format("woff2"),
       url("../fonts/symbols-technomart.woff") format("woff");
       
}
/*==========================================*/

/*Иконки опишем*/
[class^="icon-"]::before,
[class*="icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  
  speak: none;
}

[class^="icon-"],
[class*="icon-"] {
  opacity: 0.3;
}

.icon-search::before { content: "\1f50d"; } /* "??" */
.icon-bookmark::before { content: "\1f516"; } /* "??" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-login::before { content: "\2386"; } /* "?" */
.icon-phone::before { content: "\1f4de"; } /* "??" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-instagramm::before { content: "\1f4f7"; } /*  */
.icon-home::before { content: "\1f3e0"; } /* "\1f3e0" */
/*----------------------*/
.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */

.icon-twitter::before { content: "\74"; } /* "t" */

.icon-up::before { content: "\2c4"; } /* "?" */
.icon-down::before { content: "\2c5"; } /* "?" */
.icon-left-big::before { content: "\2190"; } /* "?" */
.icon-right-big::before { content: "\2192"; } /* "?" */

.icon-logout::before { content: "\241b"; } /* "?" */
.icon-up-dir::before { content: "\25b2"; } /* "?" */
.icon-down-dir::before { content: "\25bc"; } /* "?" */
.icon-circle::before { content: "\25cb"; } /* "?" */
.icon-circle-dot::before { content: "\25cf"; } /* "?" */
.icon-star::before { content: "\2605"; } /* "?" */
.icon-check-off::before { content: "\2610"; } /* "?" */
.icon-check-on::before { content: "\2611"; } /* "?" */
.icon-youtube::before { content: "\f39e"; } /* "?" */

.icon-user::before { content: "??"; } /* "\1f468" */



/*вспомогательные классы*/
.wrapper{
  width: 940px;
  
  margin: 0 auto;
  padding: 0; 
  
}

.inl-block{
  display: inline-block;
  
  margin: 0;
  padding: 0;
  
  vertical-align: top; 
  
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;  
}
/*===========================================*/

body{
  /*позиционирование*/
  width: 1200px;
  /*блочная модель*/
  margin: 0 auto; 
  /*типографика*/
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  /*оформление*/
  background-color: #ffffff;
  color: #000000;
  /*анимация*/
  /*разное*/  
}
