/*Основные стили и общие классы для всех страниц*/
font-family: 'Cuprum', sans-serif;

/*Подключаем PT SANS*/ 
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans'), url(../fonts/ptsans.woff2), url(../fonts/ptsans.woff);
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans bold'), url(../fonts/ptsansbold.woff2), url(../fonts/ptsansbold.woff);
}
/*Подключаем CUPRUM*/ 
@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: normal;
  src: local('Cuprum'), url(../fonts/cuprum.woff2), url(../fonts/cuprum.woff);
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: bold;
  src: local('Cuprum Bold'), url(../fonts/cuprumbold.woff2), url(../fonts/cuprumbold.woff); 
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: bold;
  src: local('Cuprum Bold Italic'), url(../fonts/cuprumbolditalic.woff2), url(../fonts/cuprumbolditalic.woff);  
}

/*Иконочный шрифт*/
@font-face {
  font-family: "symbols-technomart";
  font-style: normal;
  font-weight: normal;  
  src: url("../fonts/symbols-technomart.woff2") format("woff2"),
       url("../fonts/symbols-technomart.woff") format("woff");
       
}
/*==========================================*/

/*Иконки опишем*/
[class^="icon-"]::before,
[class*="icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  
  speak: none;
}

[class^="icon-"],
[class*="icon-"] {
  opacity: 0.3;
}

.icon-search::before { content: "\1f50d"; } /* "??" */
.icon-bookmark::before { content: "\1f516"; } /* "??" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-login::before { content: "\2386"; } /* "?" */
.icon-phone::before { content: "\1f4de"; } /* "??" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-instagramm::before { content: "\1f4f7"; } /*  */
.icon-home::before { content: "\1f3e0"; } /* "\1f3e0" */
.icon-up-dir::before { content: "\25b2"; } /* "?" */
.icon-down-dir::before { content: "\25bc"; } /* "?" */
.icon-user::before { content: "\1f468"; } /* "\1f468" */
.icon-logout::before { content: "\241b"; } /* "?" */

/*-То что ниже удалить---------------------*/
.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */

.icon-twitter::before { content: "\74"; } /* "t" */

.icon-up::before { content: "\2c4"; } /* "?" */
.icon-down::before { content: "\2c5"; } /* "?" */
.icon-left-big::before { content: "\2190"; } /* "?" */
.icon-right-big::before { content: "\2192"; } /* "?" */



.icon-circle::before { content: "\25cb"; } /* "?" */
.icon-circle-dot::before { content: "\25cf"; } /* "?" */
.icon-star::before { content: "\2605"; } /* "?" */
.icon-check-off::before { content: "\2610"; } /* "?" */
.icon-check-on::before { content: "\2611"; } /* "?" */
.icon-youtube::before { content: "\f39e"; } /* "?" */





/*вспомогательные классы*/
/*чтобы картинки не уходили за границы*/
img {
  max-width: 100%;
  height: auto;
}

.wrapper{
  width: 940px;
  
  margin: 0 auto;
  padding: 0; 
  
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;  
}

.new::after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  
  width: 60px;
  height: 59px;
  background: url(../img/new-flag.png);
  content: ""; 
}

/*сделать блок не видимым*/
.not-visible {
  display: none;
}

/*===========================================*/

body{
  /*позиционирование*/
  /*блочная модель*/
  /*типографика*/
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  line-height: 18px;
  /*оформление*/
  background-color: #ffffff;
  color: #000000;
  /*анимация*/
  /*разное*/  
}
/*========header=======*/
/* Стили шапки страниц*/

/*шапка*/
header {
  padding-bottom: 65px;
  background-color: #f1f5f7;  
  color: #ffffff;
}
  /*status panel*/
.status-panel-container {
  height: 42px; 
  background-color: #293449;    
}

.logo {
  display: inline-block;
  width: 220px;
  height: 42px;
  margin: 0;
  padding: 0;
  
  vertical-align: top; 
    
  background-color: #ee3643;
  box-shadow: 0px 5px 0px 0px #b52933;    
}

.logo>a {
  display: block;
  height: 100%;
  
  padding-top: 9px;
  padding-bottom: 9px;
  
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: #ffffff; 
}

[class*="iu-"] {
  display: inline-block;
  width: 150px;
  margin: 0;
  padding: 0;
  margin-left: -0.25em;
  padding-top: 12px;
  padding-bottom: 11px;
  vertical-align: top;   
  color: #ffffff; 
}

[class*="iu-"]>a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;  
  color: #ffffff; 
}

[class*="iu-"]:hover>[class*="icon-"] {
  opacity: 1;
}

.iu-search {
  width: 250px;  
  padding-right: 10px;
  padding-left: 10px;
}
.search-form {
  display:inline-block;
}

.search-form input {
  width: 100px;
  display:none;  
  border: none; 
}
.iu-search:active{
  background-color: #ffffff;
}

.search-form:active>label {
  display:none;
}

.iu-search:active>.icon-search{
  color: #ee3643;
}

.iu-search:active>a>input{
  display: inline-block;
}

.iu-marker:active {
  opacity: 0.6;
} 

.iu-basket:active {
  opacity: 0.6;
} 

.iu-checkout {
  text-align: center;  
  background-color: #63a63e;
}
 
.iu-checkout:hover {
  background-color: #5fbb2d; 
}

.iu-checkout:active {
  opacity: 0.5;
}
  /*login panel*/
.login-panel {
  height: 68px;
  margin: 45px 0;
}

.lp-shop {
  float:left;
  width:250px;
  padding-left: 50px;
  /*padding-right: 10px;*/
  font-style:italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee4f5b;

}

.lp-contacts {
  float:left;
  width:300px;
  margin-left: 20px;
  text-align: center; 
}
.lp-contacts-phone {
  position: relative;
  height:30px;
  margin-bottom: 10px;
  padding-top: 10px; 
  
  border: 3px solid #ffffff;
}
.lp-contacts-phone>span{
  display: inline-block;
  font-size: 21px;
  line-height: 18px;
  color: #e9292a;
}

.icon-phone {
  position: absolute;
  left: 10px;
  display: inline-block;
  /*padding-left: 10px;*/
  text-align: left;
  color: #000000;
}

.lp-contacts-address {
  font-size: 14px;
  color: #293449;
}
/*============================*/
.lp-login {
  float:right;
  width: 300px;
}

.lp-login-registr{
  float: right;
  max-width: 300px;
  height: 45px;
  margin: 0;
  padding: 0;
  

 }

.lp-login-registr>[class*="lp-login-"]{
  display:block;
  
  font-size: 21px;
  line-height: 45px;
  text-align: center;
  text-decoration: none; 
  
  background-color: #ffffff;
  color: #000000;
}

.lp-login-enter {
  float: left;
  width: 120px; 
  margin-right: 10px;  
  
  cursor: pointer;
}

.lp-login-checkin {
  float: right;
  width: 150px;  
  /*margin-left: 10px;*/
  
  cursor: pointer;
}

[class*="lp-login-"]:hover{
  color: #e9292a;
  opacity: 1;
}

[class*="lp-login-"]:hover>i{
  color: #293449;
  opacity: 1;
}

[class*="lp-login-"]:active{
  color: #c5c5c5;
}

[class*="lp-login-"]:active>i{
  color: #c5c5c5;
}
/*вход пользователя
[class*="account-menu-user-"] {
  display: none;
}

.lp-login-enter:active {
  display: none;
}
.lp-login-enter:active+.lp-login-checkin {
  display: none;
}

.lp-login-enter:active~[class*="account-menu-user-"]{
  display: block;
}

*/

/*.lp-login-user-panel {
 /* display:none;
}*/

.account-menu-user-panel {
  width: 300px;
  height: 45px;  
  text-align: center;
  background-color: #ffffff;
  
}

.account-menu-exit {
  display: inline-block;
  margin: auto;  
  font-size: 21px;
  line-height: 45px;
  text-decoration: none;
  color: #000000;
}

.icon-user {
  margin-right: 15px;
}

.icon-logout {
  margin-left: 25px;
}

.point {
  display: inline-block;
  height: 4px;
  width: 4px;
  margin: 0;
  margin-left: 18px;
  background: #32425c;
  border-radius: 50%;
}
.account-menu-exit:hover>i{
  opacity: 1;
} 

.account-menu-exit:active{
  opacity: 0.3;
}
.account-menu-user-links>a {
  display: inline-block;
  margin-left: 15px;
  font-size: 16px;
  line-height: 24px;
  color: #32425c;
}

.account-menu-user-links>a:hover {
  color: #ee3643;
}

.account-menu-user-links>a:active {
  color: #32425c;
  opacity: 0.3;
}

/*-----------------*/

nav {
  height: 55px;  
  background-color: #32425c;
  box-shadow:0 5px 0 0 #293449;  
}
.nav-top-menu {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  
} 

.nav-top-menu>li {
  display:inline-block;
  margin-left: -0.25em;
  list-style:none;
}

.nav-top-menu>li:first-child {
  margin-left: 0;  
}
.nav-top-menu>li>span {
  display:block;
  padding: 19px 33px;
  color: #ffffff;
}
  
.nav-top-menu>li>a {
  display:block;
  padding: 19px 33px;
  text-decoration: none;
  color: #ffffff;
  
}

.nav-top-menu>li>a:hover {
  background-color: #293449;
}  

.nav-top-menu>li>a:active {
  opacity: 0.5;
  background-color: #293449;
}  

/*==========slider==============*/
/*общие классы слайдера*/
.catalog-services {
  margin: 60px 0 32px 0;    
}
.service-name {
position: relative;
float: right;
width: 275px;
height: 76px;
margin: 0 0 20px 20px;
padding: 25px 0 22px 25px;    
}
.service-title {
margin: 0;
padding: 0;
font-size: 24px;
line-height: 30px;
font-weight: bold;
color: #ffffff;

}
.service-description {
display: inline-block;
width: 135px;
margin: 15px 0 0;
padding: 10px 0;

font-size: 14px;
line-height: 18px;
font-weight: bold;
text-transform: uppercase;
text-align: center;

background: rgba(178, 178, 178, 0.3);
color: #ffffff;
border-radius: 3px;  
}
.service-description:hover {
background: rgba(178, 178, 178, 0.5);
} 
.service-description:active {
background: rgba(178, 178, 178, 0.7);
} 

/*Отдельные блоки. Строим сетку*/ 
.service-name.materials {
margin-left: 0;
background-color: #f6b22d;
background-image: url("../img/index-pail.png");
background-repeat: no-repeat;
background-position: 83% center;

}

.service-name.tool {
background-color: #4aafde; 
background-image: url("../img/index-drill.png");
background-repeat: no-repeat;
background-position: 86% center;
}

.service-name.technics { 
background-color: #cc79d1;
background-image: url("../img/index-tractor.png");
background-repeat: no-repeat;
background-position: 85% center;  
}

.slider {
position: relative;
float: left;
overflow: hidden;
width: 620px;
height: 266px; 
}

.service-name.sale {
background-color: #85d179; 
background-image: url("../img/index-basket.png");
background-repeat: no-repeat;
background-position: 80% center;
}

.service-name.delivery {
background-color: #f6b22d;
background-image: url("../img/index-auto.png");
background-repeat: no-repeat;
background-position: 85% center;   
}
/*==Слайдер большой================*/
.slider-controls-buttons {
position: absolute;
bottom: 36px;
left: 50%;
z-index: 5;
width: 160px;
height: 10px;
margin: 0 0 0 -80px;
font-size: 0;
text-align: center;
}

.slider-controls-buttons label {
display: inline-block;
width: 6px;
height: 6px;
margin: 0 5px;
vertical-align: top;
background-color: #ffffff;
border: 2px solid #ffffff;
border-radius: 50%;

cursor: pointer;
}                
/*стрелки рисуем*/
.slider-controls-arrows {
position: relative;
height: 100%;
}            
.slider-prev::after, 
.slider-next::after {
position: absolute;
right: 27px;
top: 50%;
z-index: 5;
display: block;

width: 25px;
height: 25px;

margin: -15px 0 0;
border-right: 5px solid #fff;
border-bottom: 5px solid #fff;
border-radius: 5px;
transform: rotate(-45deg);
cursor: pointer;
content: "";
}

.slider-prev::after {
transform: rotate(135deg);
left: 27px;
}

/*=====================================*/ 
.slides {
position: absolute;
top: 0;
left: 0;
width: 200%;
height: 100%;
}

.slide {
position: relative; 
float: left;
width: 620px;
height: 100%;
}
.slide-text {
width: 260px;
padding: 15px 24px;
color: #ffffff;
}

.slide-title {
margin: 0;
padding: 0;
font-size: 36px;
line-height: 30px;
font-weight: bold;
text-transform: uppercase;
}
.slide-text p {
font-family: "PT Sans", "Tahoma", sans-serif;
font-size: 18px;
line-height: 24px;  
}

.drill {
background: url("../img/sl_drill.jpg") no-repeat;
}

.perforator {
background: url("../img/sl_perforator.jpg") no-repeat;
}

/*=====кнопка===========*/
.open-catalog {
position: absolute;
bottom: 22px;
left: 25px;
float: right;
width: 195px;
padding: 12px 0;

font-size: 14px;
text-decoration: none;
text-transform: uppercase;
text-align: center;

background-color: #ee3643;
color: #ffffff;
border-radius: 3px; 

cursor: pointer;
}

.open-catalog:hover {
background-color: #ca2c37;
}
.open-catalog:active {
background-color: #ba2732;
}

/*Не понятно что делает, но работает*/            
.slider #drill:checked~.slider-controls-buttons label[for="drill"], 
.slider #perforator:checked~.slider-controls-buttons label[for="perforator"] { 
background: #ee3643; 
}

.slider #perforator:checked~.slides { 
left: -620px; 
}

.slider #drill:checked~.slides { 
left: 0;
}
/*скрываем не нужную стрелку слево или справа*/            
.slider #drill:checked~.slider-controls-arrows label[for="drill"]::after,
.slider #perforator:checked~.slider-controls-arrows label[for="perforator"]::after { 
opacity: 0;
cursor: default;
}
/*============item карта товара=================*/
/*карточка товара*/
.item-actions {
  display: none;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background: rgba(255,255,255, .8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;    
}
 .item-actions-buy,
 .item-actions-bookmark {
  position: relative;
  display: block;
  width: 135px;
  margin: 0 auto 7px;
  padding: 7px 0;
    
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: auto;
  text-decoration: none;
  text-transform: uppercase;
  
  color: #ffffff;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
  
  cursor: pointer;
}
.item-actions-bookmark {
  
  background-color: #fffffff;
  color: #32425c;
  border-bottom-color: #63a63e;
}
.item-actions-buy { 
  background-color: #63a63e; 
}

.item-actions-bookmark:hover { 
  border: 3px solid #32425c; 
 }
.item-actions-bookmark:active {
  border: 3px solid #32425c;
  opacity: 0.3;
}
.item-actions-buy:hover {
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;   
  
}

.item-actions-buy:hover i {
  opacity: 1;
  
}

.item-actions-buy:active {
  background-color: #518534;
  border: 3px solid #518534;

}
/*---------------------------*/
.item {  
  position: relative;
  display: inline-block;
  
  width: 218px;
  height: 316px;
  
  margin: 0;
  padding: 0;  
  
  font-family: "PT Sans", "Tahoma", sans-serif;
  text-align: center;
  font-size: 0;
  vertical-align: top;

  border: 1px solid #e5e5e5;
}
.item:hover { 
  box-shadow: 0 7px 25px 0 rgba(41, 52, 73, 0.5); 
}

.item:hover .item-actions{
  display: block;
}

.item-picture {
  line-height: 170px;
}

.item-picture>img {
  max-width: 100%;
  vertical-align: middle;
    
}
.item-text {  
  width: 100%;
  text-align: center;
  font-size: 17px;
  
}
.item p {
  margin: 0;
  padding: 0;
}

.item-about{
  padding: 0 25px;
  margin: 0 0 2px;

  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.item-cost {
  min-height: 38px; 
    
  font-size: 17px;
  line-height: 38px;
  font-weight: bold;
  text-transform: uppercase;
}

.item-cost-new {
    position: relative;
    z-index: 0;
    
    display: inline-block;
    width: 140px;
    padding: 0 34px;
    
    background: #ee3643;
    color: #ffffff;  
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.item-cost-new::after {
    position: absolute;
   
    right: -4px;
    z-index: 5;
    
    content: "";
    
    border-style: solid;
    border-width: 19px 0 19px 19px;
    
   border-color: #ffffff #ffffff #ffffff #ee3643; 
   
}

.item-cost-old {
  text-decoration: line-through;
  color: #999999;
}
/*============top catalog=============*/
/* стили топ-производители и топ-товары*/
/*=============================*/
.popular {
  height: 450px;
}

.popular-goods-header {
  display: block;
  height: 90px;
  margin-bottom: 20px;  
  background-color: #f7f3ec;  
}

.popular-goods-header h2{
  float: left;
  margin: 0;
  padding: 0;  
  
  padding: 30px 25px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  
}

.popular-goods-header a{
  float: right;
  width: 255px;
  height:18px;
  margin: 26px 25px;
  padding: 0;     
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 2px;
}
/*----------------------*/
.goods-item {
  float: left;
  margin-right: 20px;
}

.goods-item:last-child {
  margin-right: 0;
}

/*--------------------------------*/
.fabricator{
  margin-bottom: 63px;
}

.popular-fabricator-header {
  display: block;
  height: 90px;
  
  margin-bottom: 20px;
  background-color: #f7f3ec;  
}

.popular-fabricator-header h2{
  float: left;
  margin: 30px 25px;
  padding: 0;  
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;  
}

.popular-fabricator-header a{
  float: right;
  width: 255px;
  height: 18px;
  margin: 26px 25px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
  border-radius: 2px;
}
/*Список производителей*/
.fabricator-list {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.fabricator-list>li {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style:none;
}

.fabricator-item{
  display: inline-block;
  width: 214px;
  height: 143px;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
  /*vertical-align: middle;*/
  line-height: 143px;
  
  border: 1px solid #e5e5e5;
  
}

.fabricator-item>a {
  display: inline-block;
  width: 100%;
  height: 100%;
  /*background-color: red;*/
}
.fabricator-item>a>img {
  /*display: block;
  margin: auto;
  padding-top: auto;*/
  vertical-align: middle;
  max-width: 100%;
  
}

.fabricator-item>a:hover {
  box-shadow: 0 0 25px 10px #aeb2ba;  
}

.fabricator-item>a:active {
  opacity: 0.5;
}  

.fabricator-item-last {
  margin-right: 0px;  
}

/*====================delivery доставка=====================*/
/*стили доставка и прочее*/

.services-panel{  
  background-color: #f2f6f8;
  height: 523px;
}

.services-head {
  padding: 65px 0;
 
}
.services-head>h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 24px;
}
.services-content {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  
}
/*Слайдер нижний*/
.services-slider {
  position: relative;
  height: 285px;
  /*padding: 10px 0;*/
  text-align: center;

}

.services-slider>input {
  display: none;
}

.services-slider>input+label{
  position: relative;
  display: block;
  width: 195px;
  height: 27px;
  margin: 0;
  padding: 0 23px; 
  padding-top: 15px;
  padding-bottom: 17px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
  background-color: #32425c;
  color: #ffffff;  
  
  border-top: #405069 solid 1px;
  border-bottom: #293449 solid 1px;
  cursor: pointer;
}  

.shadow-menu {
  position: absolute;
  top: -45px;
  left: 231px;
  z-index: 5;
  width: 10px;
  height: 272px;
  background: url("../img/shadow-menu.png");
}

.services-slider>input+label:hover {
  border-bottom: #293449;
}


.services-slider>input:checked +label {
  background-color: #ffffff;
  color: #32425c;
}
.services-slider-content {
  
  position: absolute;
  top: 5px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
  width: 621px;
  text-align: left;
  
  background-repeat: no-repeat;
  background-position:  bottom right;

}

.ss-content>h2{
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 32px;
  text-transform: uppercase;
  line-height: 24px;
}

.ss-content{
  display: inline-block;
  width: 276px;
}
.ss-content>a {
  display: inline-block;
  width: 195px;
  height: 38px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
}

.ss-content>a:hover {
  background-color: #ca2c37;
}  

.ss-content>a:active {
  background-color: #ba2732;
}
 
.delivery {
  background-image: url("../img/index-delivery.png");
}
.garanty{
  /*display:none;*/
  background-image: url("../img/index-garanty.png");
}
.credit {
  /*display:none;*/
  background-image: url("../img/index-credit.png");
}

/*Показ слайдов*/
.services-slider > .services-slider-content {
  visibility: hidden;
  opacity: 0;  
}

.services-slider > input:checked + label + .services-slider-content {
  visibility: visible;
  opacity: 1;
  
}

/*-----------------------*/
.about {
  height: 535px;  
}
.about-company{
  float: left;
  width: 540px;
  margin: 80px 0;
}

.about-company>h2 {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 24px;
  line-height: 24px;
}

.about-company>p{
  margin: 0;
  padding: 0;
  margin-top: 40px;
  
}

.about-company>ul {
  margin: 0;
  padding: 0;
  margin-top: 28px;
  margin-bottom: 49px;
  line-height: 30px;
  font-weight: bold;
  list-style: none;
}
.about-company>ul>li {
  position: relative;
  padding-left: 35px;
  
  
}

.about-company li::before {
    content: "";
    width: 25px;
    border-bottom: 2px #fb565a solid;
    position: absolute;
    left: 0;
    top: 14px;
} 
/*---------------------------*/
.about-contacts{
  float: right;
  width: 300px;
  margin: 80px 0;
}
.about-contacts>h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 24px;
}
.about-contacts>p {
  margin: 0;
  padding: 0;
}

.open-bigmap {
  display: block;
  width: 300px;
  margin: 40px 0;
}

.ac-but {
  height: 38px;
  padding: 10px 40px;
  
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  
  background-color: #ee3643;
  color: #ffffff;
}

.contact-but {
  width: 300px;
  text-align: center;
  margin: 0;
  padding: 10px 60px;
}


/*================footer=====================*/
/*Стили подвала на страницах*/
/*подвал*/
footer{
  background-color: #293449;
  color: #ffffff;
}

.footer-top{
  height: 192px;
  
  font-size: 18px;
  line-height: 24px;
    
  background-color: #32425c;
}

/*-----------------------*/
.footer-top-one{
  /*display: inline-block;   */
  margin-bottom: 35px;
  text-align: right;    
}

.logo-footer {

  /*display: inline-block;*/
  height: 64px;
  
  
}
.logo-footer>a {
  padding: 17px 0;
   
  font-size: 30px;
  line-height: 30px;}  


.nav-footer-one-menu {
  /*position: relative;
  right: -65px;*/
  display: inline-block;
  /*width: 550px;  */
  margin: 0;
  padding: 0;
  margin-left: 110px;
  text-align: right;
  vertical-align: bottom;  
}

.nav-footer-one-menu>li{
  display: inline-block;
  margin: 0;
  margin-left: 55px;
  padding: 0;  
  vertical-align: top;  
  list-style: none;
}   

.nav-footer-one-menu>li>span {
    color: #ffffff;    
}

.nav-footer-one-menu>li>a {

  text-decoration: none;
  color: #ffffff;    
}
.nav-footer-one-menu>li>a:hover{
  text-decoration: underline;
}

.nav-footer-one-menu>li>a:active{
  opacity: 0.5;
}
/*------------------*/
.footer-top-two {
  text-align: right;  

}

.footer-top-two-address{
  display: inline-block;
  text-align: left;
  vertical-align: top
  
}
.nav-footer-two-menu {
  /*position: relative;
  right: -68px;*/
  
  display: inline-block;
  width: auto;
  margin: 0;
  padding: 0;
  margin-left: 35px;
  
  text-align: right;
  vertical-align: top;

  
}
.nav-footer-two-menu>li{
  display: inline-block;
  margin-left: 55px;
  list-style: none;
  vertical-align: top
  
}   
.nav-footer-two-menu>li>a{
  /*text-align: justify;*/
  text-decoration: none;
  color: #f1c77e;
}
.nav-footer-two-menu>li>a:hover {
  text-decoration: underline;
}

.nav-footer-two-menu>li>a:active {
  opacity: 0.5;
}
/*----------------*/
.footer-bottom {
  height: 106px;  
  font-size: 16px;
  line-height: 18px;
}

.fb-copyright, .fb-social, .fb-feedback, .fb-design{
  display: inline-block;  
  vertical-align: middle;
}

.fb-copyright {
  width: 230px;
  margin: 35px 0;
  margin-right: 150px;

  
}
/*------------------*/
.fb-social {
  width: 160px;
  margin-right: 100px;
}

.fb-social>div {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 5px;  
}
.fb-social>div>a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-decoration: none;
  
  background-color: #212a3a;
  color: #ffffff;
    
  border: 1px solid transparent;
  border-radius: 50%;
}

.fb-social>div>a:hover {
  background-color: #ee3643;  
  
}

.fb-social>div>a>i{
  position: relative;
  top: 26%;
  left: 21%;
  
  opacity: 1;
}
/*-------------------*/
.fb-feedback {
  width: 140px; 
   
}

.fb-feedback>a {
  text-decoration: none;
  color: #c6a771;
   
}

.fb-feedback>a:hover {
  text-decoration: underline;  
   
}

.fb-feedback>a:active {
  color: #ee3643;    
   
}

.fb-design {
  width: 140px;
  text-align: right;
}

.fb-design>a {
  text-decoration: none;
  color: #c6a771;
   
}

.fb-design>a:hover {
  text-decoration: underline;  
   
}

.fb-design>a:active {
  color: #ee3643;    
   
}
/*===========catalog.html=======================*/
/*стили внутренней страницы*/
.breadcrumbs {
  height: 60px;

}
.breadcrumbs>ul {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  
}
.breadcrumbs>ul>li{
  position: relative;
  display:inline-block;
  margin: 21px 0;
  margin-left: -0.25em;
  margin-right: 40px;
  vertical-align:top;
  list-style:none; 
}
.breadcrumbs>ul>li>a {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
/*.breadcrumbs>ul>li::after {
  content:" > "
} */ 
.breadcrumbs>ul li+li::before {
    content: "";
    height: 8px;
    width: 8px;
    margin: -6px 0 0;
    border-bottom: 1px solid #c1c6ce;
    border-right: 1px solid #c1c6ce;
    position: absolute;
    left: -28px;
    top: 11px;
    transform: rotate(-45deg);
}

.head-catalog {
  display: block;
  height: 30px;
  margin: 0;
  padding: 30px;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;  
  background-color:#f2f6f8;
}
.goods-catalog {
  margin-bottom: 60px;
}

.goods-page {
  float: right;
  width: 700px;
  margin: 0;
  padding: 0;
}
.goods-page-sort {
  width: 100%;
  height: 38px;
  margin: 22px 0;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 19px;  
  text-transform: uppercase;
  background-color: #f7f3ec;
}
.goods-page-sort>h2{
  display: inline-block;
  margin: 0;
  padding-left: 20px;  
}

.goods-page-sort>a {
  display: inline-block;
  padding: 8px 0; 
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;    
}

.gps-select-menu{
  display:inline-block;

  margin: 0;
  padding: 0;
  margin-left: 100px;  
}

.gps-select-menu>li{
  display:inline-block;
  width: 125px;
  list-style:none; 
  border-bottom:1px dotted #e3643;
}

.gps-select-menu>li>a{
  display:inline-block;
  margin: 10px 0;  
 
  text-decoration: none;
  text-transform: uppercase;
  color: #c7c7c7;
  border-bottom: 1px dotted #ee3643;  
  
}

.gps-select-menu>li>a:hover{
  border-bottom: 1px solid #ee3643;  
  color: #444444;
}

.gps-select-menu>li>a:active{
  color: #ee3643;
  border:none;
}
  
.gps-select-menu>li:not(:first-child)>a{
  margin-left: -0.25em; 
} 
.icon-up-dir,
.icon-down-dir  {
  font-size: 22px;
  opacity: 0.3;
}

.icon-up-dir:hover,
.icon-down-dir:hover  {
  opacity: 1;
}

/*----------------------*/
.p-item {
  float: left;
  
  margin-right: 20px;
  margin-bottom: 20px; 
  
}

.p-item:nth-child(3n-3) {
  margin-right: 0;
}

.p-item:nth-of-type(3n+1){
  margin-left: 0;
}

.goods-paginator {
  width: 100%;
  font-family: "PT Sans", "Tahoma", sans-serif;
}
.goods-paginator>ul {
  margin: 0;
  padding: 0;
}
.goods-paginator>ul>li {
  display:inline-block;
  width: 36px;
  height: 36px;
  border-radius: 2px;
  margin-right: 10px;
  text-align:center;
  vertical-align:middle;
  list-style:none; 
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.goods-paginator>ul>li:last-child {
  width: 136px;
}

.goods-paginator>ul>li>a{
  display: block;
  font-size: 13px;
  line-height: 36px;
  text-decoration: none;
  color: #000000;
}

.goods-paginator>ul>li>a:hover{
  border: 1px solid #bdc6ca;
  border-radius: 2px;
}

.goods-paginator>ul>li>a:active{
  border: 1px solid #ee3643;
  border-radius: 2px;
}

.about-goods {
  padding-top: 65px;
  padding-bottom: 65px;
  line-height: 24px;
  background-color: #f2f6f8;  
}

.about-goods h2 {
  font-size: 24px;
  text-transform: uppercase;
}

.about-goods p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
/* Фильтры */
.filter {
  float: left;
  width: 220px;
  margin: 0;
  margin-right: 20px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 18px;  
  text-transform: uppercase;
  color: #000000;
  
}

.filter-title {  
  margin: 22px 0;
  padding: 11px 19px;

  background-color: #f7f3ec;
  color: #000000;
  border-radius: 3px;  
}

.range-filter {
  margin: 0;
  margin-bottom: 25px;
  border: none;
  border-bottom: #e5e5e5 1px solid;
}
.range-controls {
  position: relative;
  overflow: hidden;
  height: 80px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0 20px;
  
  background-color: #f7f3ec;
  border-radius: 5px;
  
}
.range-controls .scale {
  height: 2px;
  margin: 0;
  margin-top: 39px;
  background-color: #d7dcde;
}
.range-controls .bar { /*индикатор зеленый*/
  width: 135px;
  height: 2px;
  background-color: #00ca74;
}
.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 30px;
  
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  
  cursor: pointer;
}
.range-controls .min-toggle { 
  left: 20px; }
.range-controls .max-toggle { 
  left: 139px; }

.price-controls {
  position: relative;
  margin: 0;
  margin-bottom: 25px;
  
  font-size: 0;
}

.price-controls::after {
  position: absolute;
  top: 50%;
  left: 50%;
  
  height: 2px;
  width: 16px;
  margin: -1px 0 0 -8px;
  background-color: #000000;
  content: "";
}
.price-controls input {
  display: inline-block;
  width: 64px;
  padding: 8px 10px;
  
  font-size: 13px;
  text-align: center;
  
  background: #f7f3ec;
  border: none;
  border-radius: 5px;
  
  color: #000000;  
}

.min-price {
  margin: 0 30px 0 0;
}

.filter-dc {
  margin: 0;
  margin-bottom: 25px;
  border: none;
}
.input-click-checkbox,
.checkbox, 
.radio { 
  display: none;
}
.label-click-checkbox {
  position: relative;
  display: block;
  margin: 0 0 15px 0;
  padding: 0 20px 0 0;
  font-weight:bold;
  
  cursor: pointer;
}

.input-click-checkbox:checked+.label-click-checkbox::after {
  margin: 0;
  margin-top: -10px;
  transform: rotate(225deg);
}

.label-click-checkbox:active::after {
  border-top: 3px solid #f3f4f5;
  border-left: 3px solid #f3f4f5;
}

.checkbox-visible { 
  display: block; 
}

.input-click-checkbox:checked~.checkbox-visible { 
  display: none; 
}

.checkbox+label,
.radio+label {
  position: relative;
  display: block;
  margin: 0 0 20px;
  padding: 0 0 0 35px;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
}
.checkbox+label::before {
  position: absolute;
  left: 0;
  top: 50%;
  height: 17px;
  width: 17px;
  margin: -11px 0 0;
  background-color: transparent;
  border: 3px solid #c1c1c1;
  border-radius: 4px;
  content: "";
}
.checkbox+label:hover::before { 
  border-color: #b5b5b5;
}
.checkbox:disabled+label::before { 
  border: 3px solid #e9e9e9;
}

.checkbox+label::after { 
  display: none;
}

.checkbox:checked+label::after {
  position: absolute;
  left: 10px;
  top: -4px;  
  display: block;
  width: 6px;
  height: 16px;
  background-color: transparent;
  border-bottom: 5px solid #c1c1c1;
  border-right: 5px solid #c1c1c1;
  border-radius: 1px;
  box-shadow: 2px 0 0 0 #fff, inset -2px 0 0 0 #fff;
  transform: rotate(45deg);
  content: "";
}

.checkbox:checked+label:hover::after {
  border-bottom: 5px solid #b5b5b5;
  border-right: 5px solid #b5b5b5;
}
.checkbox:disabled:checked+label::after {
  border-bottom: 5px solid #e9e9e9;
  border-right: 5px solid #e9e9e9;
}
.radio+label::after {
  position: absolute;
  left: 4px;
  top: 50%;
  width: 9px;
  height: 9px;  
  margin: -9px 0 0;  
  background-color: #ffffff;
  border: 4px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #c1c1c1;
  content: "";
}

.radio+label:hover::after { 
  box-shadow: 0 0 0 4px #b5b5b5;
}

.radio:checked+label::after { 
  background-color: #c1c1c1;
}
.radio:checked+label:hover::after { 
  background-color: #b5b5b5;
}

.radio:disabled+label::after { 
  box-shadow: 0 0 0 4px #e9e9e9;
}

.radio:disabled:checked+label::after {
  background-color: #e9e9e9;
  box-shadow: 0 0 0 4px #e9e9e9;
  
}

input[type="submit"]{
  width: 138px;
  height: 36px;
  font-weight: bold;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}
/* Конец фильтров */

/*popup*/
/*карта*/
.btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  
  width: 25px;
  height: 25px;
  
  font-size: 0;
  background-color: transparent;
  border: none;
  
  cursor: pointer;
}
.btn-close::after,
.btn-close::before {
  position: absolute;
  top: 11px;
  right: 2px;
  width: 22px;
  height: 4px;
  background-color: #ee3643;
  content: "";  
}

.btn-close::after {
  transform: rotate(45deg);
}
.btn-close::before {
  transform: rotate(-45deg);
}

.map-big {
  position: fixed;
  bottom: 18%;
  left: 25%;
  z-index: 11;
  width: 940px;
  height: 446px;
  background-color: #ffffff;
  background-image: url("../img/map-big.jpg");
  box-shadow: 0 0 25px 0 #000000; 
}
/*Форма обратной связи*/
.btn-feedback {
  top: 8px;
  right: 8px;
}
.feedback {
  position: fixed;
  top: 15%;
  left: 25%;
  z-index: 10;
  width: 620px;
  height: 423px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 18px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  box-shadow: 0 0 25px 0 #000000; 
  
}
.wrapper-feedback {
  width: 460px;
  height: 226px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 38px;
  border: none;
}

.button-part {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 112px; 
  
  background-color: #f1f1f1;
}

.btn-submit {
  position: absolute;
  top: 38px;
  left: 80px;
  width: 460px;
  height: 38px;
  margin: auto;
  font-size: 14px;
  line-height: 38px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
  cursor: pointer;
  border: none;  
}

.btn-submit:hover {
  background-color: #ca2c37;
}

.btn-submit:action {
  background-color: #ba2732;
}

.name-field {
  float: left;
  width: 220px;  
  margin: 0;
  padding: 0;
  
  border: none;  
}

.email-field {
  float: right;
  width: 220px;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  border: none;  
}

.content-field {
  width: 460px;
  height: 100px;
  margin: 0;
  padding: 0;  
  border: none;  
}

.label-fields {
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 18px;
}

.str-fields {
  width: 203px;
  height: 36px;  
  padding-left: 15px;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #d7dcde;
  border-radius: 2px;  
}

.content-field-input {
  width: 458px;
  height: 115px;
  
}

.error-fields {
  border: 3px solid #ee3643;
  border-radius: 2px;  
}